[mysqld]
bind-address = 0.0.0.0
port = 3306
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
max_connections = 150
innodb_buffer_pool_size = 128M

[client]
default-character-set = utf8mb4
socket = /run/mysqld/mysqld.sock
